@media screen and (max-width: 450px) {

    :root {
        --bg_color: #111F2C;
        --menu_color: #06141B;
        --header_inscription: #00CCD0;
        --menu_hamb_button: #FFFFFF;
        --menu_hamb_close: #00CCD0;
        --menu_hamburger_rect: rgba(0, 0, 0, 0.92);
        --text_highlight: #00CCD0;
        --button_color: #027678;
        --rect_bg: #06141B;
        --inscription_case: #223442;
        --border: 2px solid var(--outline);
        --border_radius: 5px;
        --font_titre: 15pt;
        --font_slider: 30pt;
        --font_service: 25pt;
        --font_realisation: 20pt;
        --outline: #ffffff;
        --texte: #ffffff;
        --dots-color: #ffffff;
        --animate-duration: 1.5s;
        --animate-delay: 1s;
        --animate-repeat: 1
    }

    * {
        margin: 0;
        font-family: "Poppins", sans-serif;
    }

    body {
        background-color: var(--bg_color);
    }

    .space2 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .space {
        margin-left: 30px;
        margin-right: 30px;
    }

    a {
        text-decoration: none;
    }

    .logo_inscription {
        display: flex;
        align-items: center;
        background-color: var(--header_inscription);
        width: 100%;
        height: 50px;
        border-bottom-left-radius: 64px;
        padding-top: 5px;
    }

    .logo_inscription_bg {
        background-color: var(--bg_color);
        margin-right: 5px;
        display: flex;
        align-items: center;
        width: 44px;
        border-radius: 30px;
        height: 44px;
        justify-content: center;
    }

    .logo_inscription_bg img {
        width: 35px;
    }

    .logo_inscription p {
        font-size: var(--font_titre);
        color: var(--texte);
    }

    .welcome_text {
        margin-top: 35px;
    }

    p.welcom_text1 {
        color: var(--texte);
        font-size: 15pt;
        font-weight: 700;
    }

    p.welcom_text2,
    p.inscription_text {
        color: var(--texte);
        font-size: 10pt;
        font-weight: 200;
    }

    .informations {
        display: flex;
        width: 75%;
        align-items: center;
        justify-content: center;
    }

    .inscription_box {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .prenom,
    .otp,
    .mail,
    .number,
    .city,
    .write_textarea2 {
        background: var(--inscription_case);
        width: 100%;
        height: 40px;
        min-width: 250px;
        color: white;
        border: none;
        margin-bottom: 10px;
        border-radius: 3px;
        padding: 0;
    }


    input[type="submit"] {
        text-decoration: none;
        display: flex;
        width: 100%;
        height: 40px;
        background-color: var(--button_color);
        color: var(--texte);
        font-size: 12pt;
        margin-bottom: 15px;
        border: none;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        padding: 0;
    }


    /* header */
    .menu {
        background-color: var(--menu_color);
        width: 100%;
        height: 60px;
        z-index: 500;
        overflow: hidden;
        display: flex;
        align-items: center;
        position: static;
    }

    .nav_bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .logo_container {
        display: flex;
    }

    .logo_container a {
        display: flex;
        align-items: center;
    }

    .logo_container img {
        width: 30px;
        margin-right: 5px;
    }

    .logo_container p {
        position: relative;
        padding-left: 5px;
        font-size: 11pt;
        color: var(--texte);
    }

    .logo_container p::after {
        display: flex;
        content: "";
        width: 2px;
        height: 63px;
        background-color: rgb(255, 255, 255);
        margin-left: 10px;
        position: absolute;
        top: -19px;
        left: -10px;
    }

    .menu_hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }

    .menu_hamburger:first-child {
        margin-top: 0;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 25px;
        height: 3px;
        background-color: var(--texte);
        margin-top: 3px;
        border-radius: 5px;
        transition: all 0.7s;
    }

    .bar2 {
        width: 20px;
        align-self: end;
    }

    .open .bar1,
    .open .bar2,
    .open .bar3 {
        background-color: var(--dots-color);
    }

    .open .bar1 {
        transform: translateY(200%) rotate(-45deg);
    }

    .open .bar2 {
        transform: translateX(-100%);
        opacity: 0;
    }

    .open .bar3 {
        transform: translateY(-200%) rotate(45deg);
    }

    .menu_nav {
        position: fixed;
        top: 0;
        left: -75%;
        padding-top: 20px;
        padding-left: 20px;
        background-color: rgba(0, 0, 0, 0.95);
        /* backdrop-filter: blur(4px); */
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: transform 0.5s;
    }

    /* slider */

    .swiper {
        margin-top: 15px;
        width: 95%;
        height: 190px;
        border-radius: 14px;
    }

    .swiper-slide {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .slide_image {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .slide_image img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        /* object-fit: cover; */
        border-radius: 14px;
    }

    .swiper-pagination {
        height: 10px;
        width: 10px;
        color: white;
        margin-top: 10px;
    }

    .swiper-pagination-bullet {
        background: var(--button_color);
    }

    .swiper-pagination-bullet-active {
        background: var(--header_inscription);
    }


    /* rows */
    .nos_programme_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .arrow img {
        width: 20px;
        height: 20px;
    }

    .programme_title {
        color: var(--texte);
        font-size: 15pt;
        font-weight: 700;
        padding-left: 10px;
        position: relative;
    }

    .form_bf_title::before {
        content: "";
        position: absolute;
        background-color: var(--dots-color);
        width: 5px;
        height: 30px;
        left: calc(0px);
        bottom: 0px;
    }

    .all_programme {
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 20px;
        scrollbar-width: none;
        margin-top: 10px;
        margin-left: 10px;
        gap: 5px;
    }

    .programme_carre {
        display: flex;
        align-items: center;
    }

    .programme_carre img {
        width: 220px;
        height: 220px;
        border-radius: 10px;
        object-fit: fill;
    }

    .programme_rectangle {
        display: flex;
        align-items: center;
    }

    .programme_rectangle img {
        width: 300px;
        height: 170px;
        border-radius: 10px;
        object-fit: fill;
    }

    .programme_portrait {
        display: flex;
        align-items: center;
    }

    .programme_portrait img {
        width: 200px;
        height: 267px;
        border-radius: 10px;
        object-fit: fill;
    }









}