@media screen and (max-width: 450px) {

    :root {
        --bg_color: #111F2C;
        --menu_color: #06141B;
        --header_inscription: #00CCD0;
        --menu_hamb_button: #FFFFFF;
        --menu_hamb_close: #00CCD0;
        --menu_hamburger_rect: rgba(0, 0, 0, 0.92);
        --text_highlight: #00CCD0;
        --button_color: #027678;
        --rect_bg: #06141B;
        --border: 2px solid var(--outline);
        --border_radius: 10px;
        --font_titre: 15pt;
        --font_slider: 30pt;
        --font_service: 25pt;
        --font_realisation: 20pt;
        --outline: #ffffff;
        --texte: #ffffff;
        --dots-color: #ffffff;
        --animate-duration: 1.5s;
        --animate-delay: 1s;
        --animate-repeat: 1
    }

    .space {
        padding-left: 10px;
        padding-right: 10px;
    }

    .logo_container img {
        width: 35px;
    }

    .logo_container p {
        position: relative;
        padding-left: 5px;
        font-size: 12pt;
    }

    .logo_container p::after {
        display: flex;
        content: "";
        width: 2px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        margin-left: 10px;
        position: absolute;
        top: -5px;
        left: -10px;
    }

    .menu_hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }

    .menu_hamburger:first-child {
        margin-top: 0;
    }

    header {
        height: 50px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 25px;
        height: 3px;
        background-color: var(--texte);
        margin-top: 3px;
        border-radius: 5px;
        transition: all 0.7s;
    }

    .bar2 {
        width: 20px;
        align-self: end;
    }

    .open .bar1,
    .open .bar2,
    .open .bar3 {
        background-color: var(--dots-color);
    }

    .open .bar1 {
        transform: translateY(200%) rotate(-45deg);
    }

    .open .bar2 {
        transform: translateX(-100%);
        opacity: 0;
    }

    .open .bar3 {
        transform: translateY(-200%) rotate(45deg);
    }

}